.background-enter {
    transform: translate(100%);
}

.background-enter.background-enter-active {
    transform: translate(0%);
    transition: transform 1000ms ease-in-out;
}

.background-exit {
    transform: translate(0%);
}

.background-exit.background-exit-active {
    transform: translate(-100%);
    transition: transform 1000ms ease-in-out;
}